.nav-pills > li > a.active{
    background-color:grey !important;
    color:white !important;
}
.nav-pills >  li > a {
    color: grey !important;
}
video {
    max-width: 100% !important;
    height: 360px;
  }